body {
    margin: 0;
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2a5fef8d;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 250);
    height: 78px;
    padding: 10px 140px;
    margin-bottom: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08)
}

.logo {
    color: black;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.container {
    background-color: white;
    min-height: 100vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    margin: 3rem auto;
    max-width: 1200px;
}

h1 {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 2rem;
}

.section-title {
    font-size: 18px;
    color: black;
    margin-bottom: 5px; 
    font-weight: bold; 
}

.checklist-section {
    margin-bottom: 2rem;
    padding-left: 5%; 
}

.item-input {
    display: flex;
    margin-bottom: 1rem;
}

.form-control {
    display: flex;
    width: 60%;
    margin-right: 10px;
}

.button-add {
    background-color: white; 
    color: black; 
    border: 2px solid #2a4eef;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-add:hover { 
    background-color: #2a5eef;
    color: white;
}

.list-group {
    font-size: 19px;
    font-weight: 400;
}

.list-group-item {
    display: flex;
    align-items: center;
    border: none;
}

.category-box {
    background-color: #d1dbe4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.category-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.info-icon{
    width: 20px; 
    height: 20px;
    margin-left: 10px; 
    position: relative;
    border-bottom: 1px dotted rgb(229, 60, 44);
}

.info-icon::before {
    content: attr(data-hover); /*구글링  근데 안 됨...*/
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out,visibility 0.4s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.info-icon:hover::before {
    opacity: 1;
    visibility: visible;
}
